{% extends "base.html" %}
{% block content %}

<h2 style="font-size: 2.2em;">Phishing Simulation Portal</h2>
<p style="font-size: 1.3em;">Select any simulation below:</p>

<ul style="font-size: 1.2em; line-height: 1.6;">
    <li><a href="/login">Login Phishing</a></li>
    <li><a href="/oauth">OAuth Fake Page</a></li>
    <li><a href="/browser-update">Fake Browser Update</a></li>
    <li><a href="/social">Social Media Phishing</a></li>
    <li><a href="/qr">QR Code Phishing</a></li>
</ul>

<hr>
<p><a href="/admin">Admin Panel</a></p>

{% endblock %}